@import '~bootstrap/scss/bootstrap';

$alert: #a62500;
$base: #232323;
$border: solid #6a0dad;
$light-base: #454545;
$primary: #80dd80;
$highlight: #6a0dad;
$shadow: 5px 5px 10px #000;

body {
  background-color: $base;
  color: $primary;
  font-family: monospace;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.full-image {
  border: 1px $border;
  width: 80%;
}

.index-listing {
  display: flex;
  flex-flow: row wrap;
}

.logo {
  margin: 10vh auto 5vh;
  width: 18em;
}

.title-content {
  text-align: center;
  text-shadow: 5px 5px 10px #000000;

  form {
    border: 1px $border;
    border-radius: 25%;
    box-shadow: 5px 5px 10px #000000;
    margin: auto;
    padding: 3vh;
    width: 22em;

    a {
      color: $primary;
      display: inline-block;
      font-size: 12px;
      margin-top: 2vh;
    }

    input {
      border-radius: 5px;
    }
  }

  legend {
    font-size: 2em;
  }

  input {
    margin: 1vh auto;
    width: 80%;
  }

  .submit-btn {
    display: block;
    margin: auto;
    padding: 0;
  }

  .title-nav-link {
    text-decoration: underline;
  }
}

.log-section {
  left: 23rem;
  position: relative;
}

.side-nav {
  background-color: $light-base;
  border-right: 5px $border;
  height: 105vh;
  margin-right: 0;
  margin-top: -2rem;
  position: fixed;
  width: 22rem;

  .close {
    color: $primary;
    display: block;
    font-size: 2.5em;
    margin: auto;
  }

  form {
    border: $border;
    border-radius: 25%;
    box-shadow: $shadow;
    margin: 5vh auto;
    position: static;
    text-align: center;
    width: 85%;

    input,
    textarea {
      border-radius: 5px;
      display: inline-block;
      width: 75%;
    }

    .submit-btn {
      display: inline-block;
      padding: 1vh;
      width: 50%;
    }
  }

  button {
    border-color: $alert;
    box-shadow: $shadow;
    color: $alert;
    display: block;
    font-weight: bold;
    margin: 4vh auto;
  }
}

.thumbnail {
  border: $border;
  height: 5vh;
  width: 5vh;
}

@media only screen and (max-width: 600px) {
  .modal-dialog {
    margin: 0;
    padding: 0;
  }

  .modal-content {
    margin: 0 5vw;
    position: relative;
    top: -25vh;
    width: 80vw;
  }
}

// @media only screen and (max-width: 1000px) {
//   .side-nav {
//     .close {
//       color: $primary;
//       display: inline;
//       font-size: 3em;
//     }
//   }
// }
